__pycache__/
*.pyc
code/orbit.pkl
code/supK.pkl
code/supKinv.pkl
paper/*.aux
paper/*.log
paper/*.out
paper/*.fls
paper/*.fdb_latexmk
code/**/*.pkl
venv/
sz-certificates.tar.gz
/*.py
/*.json
/*.jsonl
/*.tar.gz
/paper.tex
/paper.pdf
/krylov-wang-conj16/
